.container_step{
	display: flex;
    width: 45em;
	flex-direction: column;
    /* align-items: center; */
	justify-content: center;
	padding-left: 1.5em;
    padding-right: 1.5em;
	margin: 2em;
}

.container_step h2{
    display: flex;
    align-self: center;
    text-decoration: underline;
   
}

.container_step h2,h3{
    margin-bottom: .5em;
    margin-top: .5em;
}

.container_step li{
    margin-bottom: .25em;
}