/* Importing fonts */
@font-face {
	font-family: 'Roboto';
	src: url('Font/Roboto-Light-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('Font/Roboto-LightItalic-webfont.woff') format('woff');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url('Font/Roboto-Bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	min-width: 370px;
	margin: 0;
	color: #fff;
}

html {
	background: url(Images/background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
}



header {
	color: #fff;
	padding: 20px;
	text-align: center;
}

.main_header {
	margin-bottom: 1em;
}

/* Nav */
/* ********************************** */
nav ul {
	list-style: none;
	padding: 0;
	max-width: 15em;
	margin: 0 auto;
}

nav li {
	display: block;
	margin-bottom: auto;
}

/* ********************************** */


/* Button */
/* ********************************** */
nav a.button {
	display: block;
	padding: 10px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
}

nav a.button:hover {
	background-color: #4676de;
	color: #fff;
}

/* ********************************** */

footer {
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* ********************************** */

.h1spacer {
	margin-bottom: 1.5em;
}

/* Main menu container */
/* ********************************** */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.container_item {
	height: 5em;
	width: 15em;
}

.container_box {
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;

}

.container_textbox {
	display: flex;
	width: 25em;
	height: 13em;
	flex-direction: column;
	border: 2px solid #ddd;
	justify-content: center;
	align-items: center;
	padding-left: 1.5em;
    padding-right: 1.5em;
	margin: 2em;
}

.container_textbox h3 {
	margin-bottom: 1em;
	/*text-decoration: underline;*/
}

.container_headshot {
	justify-content: center;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1em;
}

.container_headshot img {
	border: .1em solid #ddd;
	padding: .25em;
	height: 8em;
	width: 10em;
}

.container_aboutbox {

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 15em;
	height: 8em;
	align-items: flex-start;
	background-color: #4e4b4b;
	padding: .5em;
	border: .1em solid #ddd;
	margin-bottom: 1em;

}

.logo{
	width: 3em;
	height: 3em;
	justify-content: center;
	align-self:center;	
}


.container_aboutbox p {
	margin-bottom: .4em;
}

/* ********************************** */

.bar {
	height: .2em;
	background-color: #ddd;
	margin: 1em auto;
}

/* ********************************** */


.container_navbar ul {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.container_navbar li{
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	margin-left: .5em;
	margin-right: .5em;
	}

/* ********************************** */


.projects-grid-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-grid {
	width: 900px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;


	border-radius: 5px;
	padding: 1em;
}

.project-box {
	height: 15em;
	width: 15em;
	justify-content: center;

}

.project-box h2 {
	margin-top: 0.5em;
	text-align: center;
}

.project-box img {
	border: .3em solid #ddd;
	padding: .25em;
	height: 10em;
	width: 10em;
}

.project-box a {
	display: flex;
	color: #ddd;
	text-decoration: none;

	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* ********************************** */


header {
	text-align: center;
	margin: 1em;
}

.footer {

	display: flex;
	justify-content: center;

}



/* styles depending on device */
/* Mobile Styles */
@media only screen and (max-width: 400px) {
	html{
		zoom: 110%;
	}
	p {
		font-size: 10px;
	}

	li {
		font-size: 12px;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	html {
		zoom: 150%;
	}

	p {
		font-size: 10px;
	}

	li {
		font-size: 10px;
	}

	.container_box {
		margin-left: .5em;
		margin-right: .5em;
	}

	.container_textbox {
		width: 15em;
	}

	.container_box{
		flex-direction: column;
		align-items: center;
	}

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	html {
		zoom: 120%;
	}

	.container_headshot img {
		border: .2em solid #ddd;
		height: 16em;
		width: 20em;
	}

	.container_aboutbox {
		width: 20em;
		height: 16em;
		border: .2em solid #ddd;
	}

	.container_aboutbox p {
		margin-bottom: .5em;
	}

}